.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: antiquewhite;
}

.contents {
    display: flex;
    font-weight: bold;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    margin-top: 7px;
    flex-direction: space-between;
    margin-left: 150px;
    
}

.navigation {
    position: fixed;
    display: flex;
    list-style: none;
    margin: auto auto;
    align-items: center;
    justify-content: space-between;
    margin-left: 350px;
}

.img {
    height: 90%;
    top: 20px;
    margin-left: 310px;
}

button + button {
    margin-left: 150px;
}

